@use "../../../assets/sass/variables" as *;

.logo {
  display: inline-block;
  padding: 0.25em;

  vertical-align: top;

  &[href] {
    cursor: pointer;
    transition: 220ms ease-in-out;
  }

  &:focus {
    outline: 0.2em solid $outline-color;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.2em solid $outline-color;
  }
}

.logo__image {
  display: block;
  width: 9.5em;
  height: 2.813em;
}
