@use "../../../assets/sass/variables" as *;

.main-nav {
  position: relative;

  padding-top: 4.125em;
}

.main-nav__toggle {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;

  width: 3.125em;
  height: 3.125em;
  margin: 0.5em;
  padding: 0;

  background-color: $body-bg-color;
  border: none;

  cursor: pointer;
  transition: 220ms ease-in-out;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 1.25em;
    height: 0.125em;
    margin: auto;

    background-color: $heavy-text-color;
    box-shadow: 0 -0.5em 0 0 $heavy-text-color, 0 0.5em 0 0 $heavy-text-color;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background-color: $primary-color;
    box-shadow: 0 -0.5em 0 0 $primary-color, 0 0.5em 0 0 $primary-color;
  }

  &:focus {
    outline: 0.2em solid $outline-color;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.2em solid $outline-color;
  }
}

.main-nav__toggle--open {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    width: 0.125em;
    height: 1.875em;
    margin: 0;

    background-color: $heavy-text-color;
    box-shadow: none;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $primary-color;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;

    width: 100%;
    padding: 1em 2.6%;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;
    padding: 0;
  }
}
