@use "../../../assets/sass/variables" as *;

.popular {
  display: flex;
  align-items: flex-start;

  width: 17em;
  padding: 1.063em;

  border-radius: 1.25em;
  background-color: $body-bg-color;
}

.popular__info {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;

  width: 6em;
  padding-top: 0.563em;
}

.popular__title {
  margin: 0;

  font-weight: 600;
  font-size: 0.938em;
  line-height: 1.5;
  text-transform: capitalize;
  color: $heavy-text-color;
}

.popular__link {
  text-decoration: none;
  color: inherit;

  &[href] {
    cursor: pointer;
    transition: 220ms ease-in-out;
  }

  &:focus {
    outline: 0.2em solid $outline-color;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.2em solid $outline-color;
  }
}

.popular__rating {
  margin: 0;
  margin-bottom: 1em;
}

.popular__price {
  margin: 0;

  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.244;
  color: $heavy-text-color;
}

.popular__currency {
  font-size: 0.556em;
  line-height: 2.24;
  color: $primary-color;
}

.popular__illustration {
  flex-shrink: 0;
  flex-basis: auto;
  order: -1;

  width: 7.063em;
  margin: 0;
  margin-right: 1.313em;

  border-radius: 1.25em;
  overflow: hidden;
}

.popular__image {
  display: block;
  width: 100%;

  aspect-ratio: 113 / 97;
}
